annotated-types==0.5.0
anyio==3.7.1
attrs==23.1.0
beautifulsoup4==4.12.2
bs4==0.0.1
certifi==2023.5.7
cf-clearance2==0.28.3
chardet==5.1.0
charset-normalizer==3.2.0
click==8.1.4
coverage==7.2.5
DataProperty==0.55.1
distlib==0.3.6
docopt==0.6.2
exceptiongroup==1.1.1
fastapi==0.100.0
filelock==3.9.0
greenlet==2.0.1
h11==0.14.0
httpcore==0.16.2
httpx==0.23.1
idna==3.4
iniconfig==2.0.0
mbstrdecoder==1.1.2
mpremote==0.4.0
mpy-cross-v6==1.0.1
nest-asyncio==1.5.6
numpy==1.25.1
OpenAIAuth==0.0.6
packaging==23.1
pandas==2.0.3
pathvalidate==2.5.2
pico-up==0.0.9
Pillow==9.4.0
pipreqs==0.4.13
platformdirs==3.0.0
playwright==1.28.0
pluggy==1.0.0
psycopg2==2.9.6
pydantic==2.0.2
pydantic_core==2.1.2
pyee==9.0.4
pygame==2.4.0
Pygments==2.13.0
PyOpenGL==3.1.6
pyserial==3.5
pytablewriter==0.64.2
pytest==7.2.2
pytest-cov==4.0.0
pytest-md-report==0.3.0
pytest-mock==3.10.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-minifier==2.8.1
pytz==2023.3
requests==2.31.0
revChatGPT==0.0.44
rfc3986==1.5.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.4.1
SQLAlchemy==2.0.18
stackexplain==1.5.0
starlette==0.27.0
tabledata==1.3.1
tabulate==0.9.0
tcolorpy==0.1.3
termcolor==2.2.0
tls-client==0.1.5
tomli==2.0.1
typepy==1.3.0
typing_extensions==4.7.1
tzdata==2023.3
u-msgpack-python==2.7.2
urequests==0.1.2
urllib3==2.0.3
uvicorn==0.22.0
virtualenv==20.19.0
warp==1.0.4
yarg==0.1.9
